.layout{
    display: flex;
    min-height: 100vh;

}
.logo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.content{
    flex: 1;
    display: flex;
    border-left: 1px solid var(--separator-color);
    justify-content: center;
    align-items: center;

}